.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.menuEnabled{
    background-color: green;
    color: white;
}

.menuDisabled{
    background-color: red;
    color: white;
    opacity: 0.5;
}

.skeleton{
   height: 50px;
    width: 100%;
    margin-top: 5%;
    
}

.boxSkeleton{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}