.box{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.menuEnabled{
    background-color: green;
    color: white;
}

.menuDisabled{
    background-color: red;
    color: white;
    opacity: 50%;
}